<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      To Do List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Titulo</ion-label>
    <ion-input [(ngModel)]="newTask.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Descripción</ion-label>
    <ion-input [(ngModel)]="newTask.desc"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="addTask(newTask)">Agregar</ion-button>


  <ul *ngFor="let t of listTask;let i = index">
    <li>{{t.title}}</li><button (click)="deleteTask(t.id)"><ion-button color="primary">Eliminar</ion-button></button>
    <button (click)="editTask(i,t)"><ion-button color="warning">Actualizar</ion-button></button>
  </ul>
</ion-content>
